.menu-bar__container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.menu-bar__logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.menu-bar__item {
  display: flex;
  margin: auto;
  align-items: center;
}

.menu-bar__item > ul {
  display: flex;
  list-style-type: none;
}

.menu-bar__item > ul > li {
  padding: 5px;
  margin-right: 15px;
}

.menu-bar__item > ul > li > a {
  text-decoration: none;
  padding: 5px;
  color: black;
  font-family: 'Segoe UI', sans-serif;
}

.menu-bar__item > ul > li > a:hover {
  font-weight: 600;
  color: blue;
}
